# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1

workflows:
  search-workflow:
    jobs:
      - search

jobs:
  search:
    docker:
      - image: registry.gitlab.com/m-c-moore/flat-finder/selenium:latest
        auth:
          username: $DOCKER_USER
          password: $DOCKER_PASSWORD
    steps:
      - checkout
      - run: |
          cd /server
          python -m main
          echo "" && cat flat-finder.log
