# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1

workflows:
  manual:
    jobs:
      - search
  weekday:
    triggers:
      - schedule:
          cron: "0 7-19 * * 1-5" # UTC
          filters:
            branches:
              only:
                - main
    jobs:
      - search
  weekend:
    triggers:
      - schedule:
          cron: "0 9,14,19 * * 6,0" # UTC
          filters:
            branches:
              only:
                - main
    jobs:
      - search

jobs:
  search:
    docker:
      - image: registry.gitlab.com/m-c-moore/flat-finder/selenium:latest
        auth:
          username: $DOCKER_USER
          password: $DOCKER_PASSWORD
    steps:
      # https://circleci.com/docs/2.0/env-vars/#encoding-multi-line-environment-variables
      - run: |
          cd /server
          FB_PRIVATE_KEY=$(echo $FB_PRIVATE_KEY_64 | base64 -d) python -m main
